# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller folders
build/
dist/
*.spec
_internal/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv2/

# Database
*.db
*.sqlite3

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
